@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #dddbdb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dddbdb;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-white text-gray-800 p-6 rounded shadow hover:bg-gray-200 w-8 h-8  flex items-center justify-center;
}
